<section class="inner-menu-tabs">
    <a data-href="pages/plan-desarrollo.html" class="inner-tab inner-tab-behind">
    <img data-src="assets/img/menu/btn_PD_menu.png" alt="Plan de Desarrollo">
    </a>

    <a data-href="pages/herramientas.html" class="inner-tab inner-tab-behind">
    <img data-src="assets/img/menu/btn_herramienta_menu.png" alt="Herramientas">
    </a>

    <span class="inner-tab inner-tab-forward active">
    <img data-src="assets/img/menu/btn_casos_menu.png" alt="Casos">
    </span>
    <!--<section class="inner-band inner-blue-band"></section>
    <section class="inner-band inner-yellow-band"></section>-->
    <section class="inner-band inner-green-band"></section>
</section>