<!-- HEADER -->
<header class="top-banner height-banner-inner-page">

  <div class="header-content d-flex justify-content-between align-items-start h-100 p-3">

    <!-- LEFT DESKTOP -->
    <div class="header-left header-left-desktop">

      <a data-href="" class="menu-btn-home">
        <img
          data-src="assets/img/menu/btn_principal.png"
          alt="Herramientas">
      </a>

    </div>


    <!-- LEFT MOBILE -->
    <div class="header-left-mobile">

      <button
        class="mobile-menu-toggle"
        type="button"
        aria-label="Abrir menú"
        aria-expanded="false"
        aria-controls="mobileMenu">

        <img
          data-src="assets/img/menu/btn_menu_movil.png"
          class="mobile-menu-image"
          alt="Menú">

      </button>

    </div>


    <!-- RIGHT -->
    <div class="header-right d-flex gap-4">

      <a
        href="https://www.uned.ac.cr/direccion-de-extension/instituto-de-formacion-y-capacitacion-municipal-y-desarrollo-local"
        target="_blank"
        rel="noopener noreferrer">

        <img
          data-src="assets/img/logo/IFCMDL.png"
          class="img-fluid logo-header"
          alt="IFCMDL">

      </a>

      <a
        href="https://uned.ac.cr"
        target="_blank"
        rel="noopener noreferrer">

        <img
          data-src="assets/img/logo/UNED.png"
          class="img-fluid logo-header"
          alt="UNED">

      </a>

    </div>

  </div>


  <!-- TITLE MOBILE -->
  <!-- TITLE MOBILE -->
<div class="inner-mobile-title">

  <span class="inner-mobile-title-plan">
    Plan de Desarrollo
  </span>

  <span class="inner-mobile-title-tools">
    Herramientas
  </span>

  <span class="inner-mobile-title-cases">
    Casos
  </span>

</div>

</header>