<!-- HEADER -->
<header class="top-banner height-banner-inner-page">

  <div class="header-content d-flex justify-content-between align-items-start h-100 p-3">

    <!-- LEFT -->
    <div class="header-left">

      <a data-href="" class="menu-btn-home">
        <img
          data-src="assets/img/menu/btn_principal.png"
          alt="Herramientas">
      </a>

    </div>

    <!-- RIGHT -->
    <div class="header-right d-flex gap-4">

      <a
        href="https://www.uned.ac.cr/direccion-de-extension/instituto-de-formacion-y-capacitacion-municipal-y-desarrollo-local"
        target="_blank"
        rel="noopener noreferrer">

        <img
          data-src="assets/img/logo/IFCMDL.png"
          class="img-fluid logo-header"
          alt="IFCMDL">

      </a>

      <a
        href="https://uned.ac.cr"
        target="_blank"
        rel="noopener noreferrer">

        <img
          data-src="assets/img/logo/UNED.png"
          class="img-fluid logo-header"
          alt="UNED">

      </a>

    </div>

  </div>

</header>