<header class="top-banner">
    <div class="d-flex justify-content-end align-items-start h-100 p-3">
        <div class="d-flex gap-4">
        <a href="https://www.uned.ac.cr/direccion-de-extension/instituto-de-formacion-y-capacitacion-municipal-y-desarrollo-local" target="_blank" rel="noopener noreferrer"><img src="assets/img/logo/IFCMDL.png" class="img-fluid logo-header" alt="IFCMDL"></a>
        <a href="http://uned.ac.cr" target="_blank" rel="noopener noreferrer"><img src="assets/img/logo/UNED.png" class="img-fluid logo-header" alt="UNED"></a>
        </div>
    </div>
  </header>
