<!-- MENÚ MÓVIL -->
<div
  class="mobile-menu-overlay"
  id="mobileMenuOverlay">
</div>

<nav
  class="mobile-menu"
  id="mobileMenu">

  <button
    class="mobile-menu-close"
    id="mobileMenuClose"
    type="button"
    aria-label="Cerrar menú">
    &times;
  </button>

  <div class="mobile-menu-content">

    <!-- PRINCIPAL -->
    <a
      data-href="index.html"
      class="mobile-menu-principal">

      <img
        data-src="assets/img/menu/btn_principal.png"
        alt="Herramientas de la Planificación Municipal">

    </a>


    <!-- PLAN DE DESARROLLO -->
    <a
      data-href="pages/plan-desarrollo.html"
      class="mobile-menu-item">

      <img
        data-src="assets/img/menu/btn_PD_menu.png"
        alt="Plan de Desarrollo">

    </a>


    <!-- HERRAMIENTAS -->
    <a
      data-href="pages/herramientas.html"
      class="mobile-menu-item">

      <img
        data-src="assets/img/menu/btn_herramienta_menu.png"
        alt="Herramientas">

    </a>


    <!-- CASOS -->
    <a
      data-href="pages/casos.html"
      class="mobile-menu-item">

      <img
        data-src="assets/img/menu/btn_casos_menu.png"
        alt="Casos">

    </a>

  </div>

</nav>