<!-- Herramientas -->
<section class="container-xxl tools-section px-4 px-md-5 mb-3">
    <div class="tools-grid">

        <div class="tool-item">
            <a data-href="pages/tools/matriz-actores.html"  class="tool-link">
            <img data-src="assets/img/inner/btn_herra_matriz.png" class="img-fluid" alt="Matriz de actores">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/taller-inicio.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_taller_inicio.png" class="img-fluid" alt="Taller de inicio">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/breve-encuesta.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_encuesta.png" class="img-fluid" alt="Breve encuesta">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/entrevista-semiestructurada.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_entrevista.png" class="img-fluid" alt="Entrevista semiestructurada">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/mural.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_mural.png" class="img-fluid" alt="Mural o pizarra colaborativa">
            </a>
        </div>
        
        <div class="tool-item">
            <a data-href="pages/tools/induccion.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_induccion.png" class="img-fluid" alt="Sesión de inducción">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/mapa-competencias.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_competencias.png" class="img-fluid" alt="Mapa de competencias">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/guia-roles.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_guia_roles.png" class="img-fluid" alt="Guía de roles y responsabilidades">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/taller-foda.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_foda.png" class="img-fluid" alt="Taller FODA con funcionarios">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/metaplan.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_metaplan.png" class="img-fluid" alt="Metaplan">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/muro-ideas.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_muro_ideas.png" class="img-fluid" alt="Muro de ideas ciudadanas">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/design-thinking.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_design_think.png" class="img-fluid" alt="Design Thinking">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/mapeo-colectivo.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_mapeo_colectivo.png" class="img-fluid" alt="Mapeo colectivo">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/taller-identidad-institucional.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_identidad.png" class="img-fluid" alt="Taller de identidad institucional">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/lluvia-palabras-colectivas.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_lluvia_palabras.png" class="img-fluid" alt="Lluvia de palabras colectivas">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/mapa-estrategico-visual.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_mapa_estrategico.png" class="img-fluid" alt="Mapa estratégico visual">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/cuadro-mando-integral.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_cuadro_mando.png" class="img-fluid" alt="Cuadro de Mando integral">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/aprende-haciendo.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_aprender.png" class="img-fluid" alt="Aprender haciendo">
            </a>
        </div>

        <div class="tool-item">
            <a data-href="pages/tools/checklist-participativo.html" class="tool-link">
            <img data-src="assets/img/inner/btn_herra_checklist.png" class="img-fluid" alt="Checklist participativo">
            </a>
        </div>

    </div>
</section>